<div id="nav">
  <ul>
    <li><a href="plamo.html">プラモデル</a></li>
    <li><a href="toy.html">トイ</a></li>
    <li><a href="car_model.html">カーモデル</a></li>
    <li><a href="model_gun.html">モデルガン</a></li>
    <li><a href="other.html">その他</a></li>
  </ul>
</div>
