<% content_for :page_title do %>
トップページ
<% end %>
<%= render "category" %>
<div id="container">
    <div id="main">
        <div class="post">
            <p>トップページになります</p>
        </div>
        <div class="post clearfix">
            <h2>新着商品</h2>
            <p>
                工事中
            </p>
        </div>
        <div class="post clearfix">
            <h2>コメント</h2>
            <p>
                <a href="posts/new">投稿</a>
            </p>
        </div>
    </div>
<%= render "sidebar" %>
</div>
