<% content_for :page_title do %>
モデルガン
<% end %>
<%= render "category" %>
<div id="container">
    <div id="main">
        <div class="post">
            <p>モデルガンになります</p>
        </div>
        <div class="post clearfix">
             <h2>製品一覧</h2>
            <p>
                <% @items.each do |item| %>
                    <%= link_to item.product_name, model_gun_details_path(item) %><br>
                <% end %>
            </p>
        </div>

    </div>
    <%= render "sidebar" %>
</div>
