<div id="title">
  <h1>Hobby site(仮)</h1>
</div>
<h2 class="text-center" style="color: #000">その他</h2>
<body>
<div id="nav">
  <ul>
    <li><a href="plamo.html">プラモデル</a></li>
    <li><a href="toy.html">トイ</a></li>
    <li><a href="car_model.html">カーモデル</a></li>
    <li><a href="model_gun.html">モデルガン</a></li>
    <li><a href="other.html">その他</a></li>
  </ul>
</div>
<div id="container">
    <div id="main">
        <div class="post">
            <p>ここは文章が入ります。ここは文章が入ります。ここは文章が入ります。<br />今は、適当な文章を入れてあります。これをダミーテキストといいます。</p>
        </div>
        <div class="post clearfix">
            <h2>小見出し1</h2>
            <img class="left" src="#" alt="画像1" />
            <p>
                コンテンツ1の本文になります。コンテンツ1の本文になります。コンテンツ1の本文になります。コンテンツ1の本文になります。
                コンテンツ1の本文になります。コンテンツ1の本文になります。コンテンツ1の本文になります。コンテンツ1の本文になります。
            </p>
            <p><a href="#">→コンテンツ1のページへ</a></p>
        </div>
        <div class="post clearfix">
            <h2>小見出し2</h2>
            <img class="left" src="#" alt="画像2" />
            <p>
                コンテンツ2の本文になります。コンテンツ2の本文になります。コンテンツ2の本文になります。コンテンツ2の本文になります。
                コンテンツ2の本文になります。コンテンツ2の本文になります。コンテンツ2の本文になります。コンテンツ2の本文になります。
            </p>
        </div>
    </div>
    <div id="side">
    <div class="box">
        <h2>サイドメニュー1</h2>
        <div class="boxBody">
            <ul>
                <li>項目1</li>
                <li>項目2</li>
                <li>項目3</li>
                <li>項目4</li>
            </ul>
        </div>
    </div>
    <div class="box">
            <h2>サイドメニュー2</h2>
            <div class="boxBody">
                <ul>
                    <li>項目1</li>
                    <li>項目2</li>
                    <li>項目3</li>
                    <li>項目4</li>
                </ul>
            </div>
    </div>
</div>
</div>
</body>
