<% content_for :page_title do %>
プラモデル
<% end %>
<%= render "category" %>
<div id="container">
    <div id="main">
        <div class="post">
            <p>組立式のプラスティックモデルのみになります</p>
        </div>
        <div class="post clearfix">
            <h2>製品一覧</h2>
            <p>
                <% @items.each do |item| %>
                    <%= item.product_name %><br>
                <% end %>
            </p>
        </div>

    </div>
    <%= render "sidebar" %>
</div>
